In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [1]:
#This is a comment

print("Hello Python 101")

Hello Python 101

In [9]:
integer = 11
floatNumber = 23.22
sentence = "Hello python"

print(type(integer))
print(type(floatNumber))
print(type(sentence))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
print(int(1.1))
print(float(2))
print(str(234))

1
2.0
234

In [18]:
#Expressions

print(1+2+3+4+5+6)
print(25/6)
print(25//6)
print(2*60+30)
print(30+2*60)

#Variables

my_variable = 1
print(my_variable)
my_variable = 1000
print(my_variable)

x = 10 
y = x/60

print(y)


total_min = 43 + 42 + 57
total_hr = total_min / 60

print(total_hr)

21
4.166666666666667
4
150
150
1
1000
0.16666666666666666
2.3666666666666667

In [29]:
#Strings

name = "Michael Jackson"

print(name[4])
print(name[-4])
print(name[::2])
print(len(name))

concat = name + "\nIs the best"

print(concat)
print(name.upper())
print(concat.replace('Michael', 'Janet'))
print(name.find('on'))

a
k
McalJcsn
15
Michael Jackson
Is the best
MICHAEL JACKSON
Janet Jackson
Is the best
13