In [3]:
#Reading files

with open("/content/Example.txt", "r") as File1:
  file_stuff = File1.read()
  print(file_stuff)

print(File1.closed)
print(file_stuff)

This is a test
This is a test 2
This is not a test
True
This is a test
This is a test 2
This is not a test

In [8]:
with open("/content/Example.txt", "r") as File1:
  file_stuff = File1.readlines()
  print(file_stuff)


with open("/content/Example.txt", "r") as File2:
  file_stuff2 = File2.readlines(4)
  print(file_stuff2)

['This is a test\n', 'This is a test 2\n', 'This is not a test']
['This is a test\n']

In [9]:
#writing files

lines = ["Uno", "Dos", "Tres"]

with open("/content/Example2.txt", "r") as Empty:
  print('Contenido: ', Empty.readlines())

with open("/content/Example2.txt", "w") as File3:
  File3.write("Linea A \n")
  File3.write("Linea B \n")

  for i in lines:
    File3.write(i)

with open("/content/Example2.txt", "r") as Empty:
  print('Contenido: ', Empty.readlines())

Contenido:  []
Contenido:  ['Linea A \n', 'Linea B \n', 'UnoDosTres']

In [10]:
with open("/content/Example2.txt", "r") as read:
  with open("/content/Copy.txt", "w") as write:
    for i in read:
      write.write(i)

with open("/content/Copy.txt", "r") as show:
  print('Contenido: ', show.readlines())

Contenido:  ['Linea A \n', 'Linea B \n', 'UnoDosTres']

In [12]:
#Loading data with pandas

import pandas as pd

csv_path = '/content/color_srgb.csv'
df = pd.read_csv(csv_path)
df.head()

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)

In [20]:
songs = {'Album' : ['Thriller','Back in Black', 'The Dark Side of the Moon','The Bodyguard', 'Bat Out of Hell'], 'Released' : [1982,1980,1973,1992,1977], 'Length':['00:42:19','00:42:11','00:42:49','00:57:44','00:46:33']}
songs_frame = pd.DataFrame(songs)
print(songs_frame.head())

songs_frame.iloc[0,0]

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

'Thriller'

In [27]:
#workimg and saving data pd

lista = {'Released': [1982, 1980, 1973, 1992, 1977, 1976, 1977, 1977]}
listaFrame = pd.DataFrame(lista)
listaFrame['Released'].unique()
listaFrame.head()

   Released
0      1982
1      1980
2      1973
3      1992
4      1977

In [29]:
df1 = listaFrame[listaFrame['Released'] >= 1980]
df1.head()

   Released
0      1982
1      1980
3      1992