In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [1]:
#This is a comment

print("Hello Python 101")

Hello Python 101

In [9]:
integer = 11
floatNumber = 23.22
sentence = "Hello python"

print(type(integer))
print(type(floatNumber))
print(type(sentence))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
print(int(1.1))
print(float(2))
print(str(234))

1
2.0
234

In [18]:
#Expressions

print(1+2+3+4+5+6)
print(25/6)
print(25//6)
print(2*60+30)
print(30+2*60)

#Variables

my_variable = 1
print(my_variable)
my_variable = 1000
print(my_variable)

x = 10 
y = x/60

print(y)


total_min = 43 + 42 + 57
total_hr = total_min / 60

print(total_hr)

21
4.166666666666667
4
150
150
1
1000
0.16666666666666666
2.3666666666666667

In [29]:
#Strings

name = "Michael Jackson"

print(name[4])
print(name[-4])
print(name[::2])
print(len(name))

concat = name + "\nIs the best"

print(concat)
print(name.upper())
print(concat.replace('Michael', 'Janet'))
print(name.find('on'))

a
k
McalJcsn
15
Michael Jackson
Is the best
MICHAEL JACKSON
Janet Jackson
Is the best
13

In [ ]:
#Tuples and Lists

#Tuples: You use ()

ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)

print(ratings[-5])
print(ratings[1])

#Slice a tuple
print(ratings[2:5])

#Tuples are immutable, so you cant:
#ratings[3] = 10
#But you can:
ratings = (1,5,4,3,2)

ratingsSorted = sorted(ratings)
print(ratingsSorted)

#Nesting
NT = (1,2,("pop","rock"),(3,4),("Disco",(1,2)))
print(NT[2][1])


#Lists

L = ["Michael Jackson", 1, 3, ("a", "b")]
print(L[3])
print(L[3:len(L)])

L2 = L + [1,3]
print(L2)

#Lists are mutable
#Extend is used to add an array
L2.extend([1])
print(L2)
L2.append(2)
print(L2)
del(L2[len(L2)-1])
print(L2)

#Split
a = "1,2,3,4,5"
print(a.split(','))

#Clone
a = [1,2,3]
b = a[:]
#help(a)

10
9
(6, 5, 10)
[1, 2, 3, 4, 5]
rock
('a', 'b')
[('a', 'b')]
['Michael Jackson', 1, 3, ('a', 'b'), 1, 3]
['Michael Jackson', 1, 3, ('a', 'b'), 1, 3, 1]
['Michael Jackson', 1, 3, ('a', 'b'), 1, 3, 1, 2]
['Michael Jackson', 1, 3, ('a', 'b'), 1, 3, 1]
['1', '2', '3', '4', '5']

In [ ]:
#Sets (only have unique elements)

Set1 = {1,2,3,4,1,3,4,5}
print(Set1)

lista = [1,1,1,1,1,2]
lista = set(lista)
print(lista)

#Set operations
a = {1,2,3}
a.add(4)
a.add(1)
print(a)
a.remove(3)
print(a)
print(1 in a)
print(3 in a)

albumSet1 = {"Blurryface", "Regional at best"}
albumSet2 = {"Trench", "Scale and Icy", "Blurryface"}

#Get the intersection of 2 sets
print(albumSet1 & albumSet2)

#Get the union of 2 sets
print(albumSet1.union(albumSet2))
print(albumSet1.issubset(albumSet2))

{1, 2, 3, 4, 5}
{1, 2}
{1, 2, 3, 4}
{1, 2, 4}
True
False
{'Blurryface'}
{'Blurryface', 'Scale and Icy', 'Regional at best', 'Trench'}
False

#Quiz on sets

Convert the list ['rap','house','electronic music', 'rap'] to a set:

# Write your code below and press Shift+Enter to execute
a = ['rap','house','electronic music', 'rap']
set(a)
{'electronic music', 'house', 'rap'}
Click here for the solution
Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

#Is not the same
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
​
print(sum(A))
print(sum(B))
​
#Is not the same
6
3
Click here for the solution
Create a new set album_set3 that is the union of album_set1 and album_set2:

3)
# Write your code below and press Shift+Enter to execute
​
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
​
print(album_set3)
{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}
Click here for the solution
Find out if album_set1 is a subset of album_set3:

1
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)
True






Click here for the solution

In [ ]:
#Dictionaries (key, value)

dic = {"key1": 1, "key2": 2, "key3": 3}
print(dic["key2"])

#add
dic['key4'] = 4
print(dic)

#del
del(dic['key2'])
print(dic)

'Key3' in dic

2
{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}
{'key1': 1, 'key3': 3, 'key4': 4}

False

#Quiz on dictionaries

# Question sample dictionary
​
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic 
{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}
a) In the dictionary soundtrack_dic what are the keys ?

keys()
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()
dict_keys(['The Bodyguard', 'Saturday Night Fever'])
Click here for the solution
b) In the dictionary soundtrack_dic what are the values ?

.values()
# Write your code below and press Shift+Enter to execute
soundtrack_dic.values()
dict_values(['1992', '1977'])
Click here for the solution
You will need this dictionary for the following questions:

Thriller
The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:
​
album_sales_dict
a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.
​
album_sales_dict
# Write your code below and press Shift+Enter to execute
album_sales_dict = {"Back in Black": 50, "The Bodyguard": 50, "Thriller": 65}
Click here for the solution
b) Use the dictionary to find the total sales of Thriller:

album_sales_dict
# Write your code below and press Shift+Enter to execute
album_sales_dict["Thriller"]
65
Click here for the solution
c) Find the names of the albums from the dictionary using the method keys():

.keys()
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()
dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])
Click here for the solution
d) Find the values of the recording sales from the dictionary using the method values:







.values()
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()
dict_values([50, 50, 65])

In [ ]:
#Conditions and brnaching
a = 6
print(a == 7)
print(a > 5)
print(a != 5)

age = 18
if(age > 18):
  print("you can enter")
elif(age == 18):
  print("go see pink floyd")
else:
  print("do not enter")
print("Move on")

ay = 1990
if(ay < 1980 or ay > 1989):
  print("Album made in 70s or 90s")
else:
  print("Album made in 80s")

ay = 1983
if(ay < 1979 and ay < 1990):
  print("Album made in 70s or 90s")
else:
  print("Album made in 80s")

False
True
True
go see pink floyd
Move on
Album made in 70s or 90s
Album made in 80s

#Quiz on conditions 

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

albumRating = 8.5

if(albumRating > 8):
    print("This album is Amazing!")
# Write your code below and press Shift+Enter to execute
albumRating = 8.5
​
if(albumRating > 8):
    print("This album is Amazing!")
This album is Amazing!
Click here for the solution
Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

"
# Write your code below and press Shift+Enter to execute
albumRating = 8.5
​
if(albumRating > 8):
    print("This album is Amazing!")
else:
    print("this album is ok")
This album is Amazing!
Click here for the solution
Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

# Write your code below and press Shift+Enter to execute
ay = 1980

if ay < 1980 or ay == 1991 or ay == 1993:
    print(ay)
# Write your code below and press Shift+Enter to execute
ay = 1980
​
if ay < 1980 or ay == 1991 or ay == 1993:
    print(ay)
Click here for the solution






The last exercise!

In [ ]:
#Loops

squares = ["red", "yellow", "green", "purple", "blue"]
print(squares)

for i in range(0,5):
  squares[i] = "white"

print(squares)

squares = ["red", "yellow", "green", "purple", "blue"]
i = 0
while squares[i] != "green":
  print("This square is not green")
  i = i + 1

['red', 'yellow', 'green', 'purple', 'blue']
['white', 'white', 'white', 'white', 'white']
This square is not green
This square is not green

Quiz on loops

Write a for loop the prints out all the element between -5 and 5 using the range function.

5
# Write your code below and press Shift+Enter to execute
for i in range(-4,5):
    print(i)
-4
-3
-2
-1
0
1
2
3
4
Click here for the solution
for i in range(-4, 5):
    print(i)
    
Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

i
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
​
for i in Genres:
    print(i)
rock
R&B
Soundtrack
R&B
soul
pop
Click here for the solution
Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

print(i)
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']
​
for i in squares:
    print(i)
red
yellow
green
purple
blue
Click here for the solution
Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = i + 1
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
while PlayListRatings[i] >= 6:
    print(PlayListRatings[i])
    i = i + 1
10
9.5
10
8
7.5
Click here for the solution
Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while squares[i] == 'orange':
    new_squares.append(squares[i])
    i = i + 1
print(new_squares)
# Write your code below and press Shift+Enter to execute
​
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while squares[i] == 'orange':
    new_squares.append(squares[i])
    i = i + 1
print(new_squares)
Click here for the solution






The last exercise!

In [ ]:
#Functions

def add1(a):
  """
  Documentation
  """
  b = a + 1
  return b

print(add1(5))
print(add1(10))


def mult(a,b):
  c = a * b
  return c

print(mult(2,3))

def greeting():
  print("Hello")

greeting()

def printList(lis):
  for i in lis:
    print(i)

printList([1,2,3,4])

6
11
6
Hello
1
2
3
4

#Quiz on functions

Come up with a function that divides the first input by the second input:

2
# Write your code below and press Shift+Enter to execute
def divide(a,b):
    return a/b
​
print(divide(10,2))
5.0
Click here for the solution
Use the function con for the following question.

def con(a, b):
    return(a + b)
# Use the con function for the following question
​
def con(a, b):
    return(a + b)
Can the con function we defined before be used to add two integers or strings?

#Yes it can
# Write your code below and press Shift+Enter to execute
def con(a, b):
    return(a + b)
print(con(1,2))
print(con('1','2'))
​
#Yes it can
3
12
Click here for the solution
Can the con function we defined before be used to concatenate lists or tuples?







#Yes it can
# Write your code below and press Shift+Enter to execute
print(con([1,2], [1,3]))
​
#Yes it can
[1, 2, 1, 3]

In [6]:
#Objects and classes

class Circle(object):
  def __init__(self, radius, color):
    self.radius = radius;
    self.color = color;
  
  def add_r(self, r):
    self.radius = self.radius + r
  
RedCircle = Circle(10, "red")
print(RedCircle)
print(RedCircle.radius)
print(RedCircle.color)

RedCircle.add_r(1)
print(RedCircle.radius)

<__main__.Circle object at 0x7fc9c08eb390>
10
red
11